{{- $description := .Description | default .Params.summary | default site.Params.description -}}
{{- $keywords    := site.Params.keywords -}}
{{- $author      := site.Params.author -}}
{{- $canonical   := .Permalink -}}
{{- $title       := cond .IsHome site.Title (printf "%s | %s" .Title site.Title) -}}

<meta name="description" content="{{ $description }}">
<meta name="keywords" content="{{ $keywords }}">
<meta name="author" content="{{ $author }}">
<link rel="canonical" href="{{ $canonical }}">

<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:url" content="{{ $canonical }}">
<meta property="og:title" content="{{ $title }}">
<meta property="og:description" content="{{ $description }}">
<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:locale" content="en_US">

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ $title }}">
<meta name="twitter:description" content="{{ $description }}">
